@import "./common/variables.scss";
.dashboard{
  .small-data-card-info{
    margin-bottom:15px;
    [class*="col-"]{
      margin-bottom:15px;
      .card{
          overflow:hidden
      }
      h3{
        @include semibold-font;
        margin:0 0 6px 0
      }
      h5{
        @include regular-font;
        margin:0
      }
      .icon{
        position:absolute;
        top:0;
        right:0;
        .svg-icon{
          position:absolute
        }
      }
      .icon.pink{
        background-color:rgba($color:$pink,$alpha:.4)
      }
      .icon.sky-blue{
        background-color:rgba($color:$sky-blue,$alpha:.6)
      }
      .icon.dark-cyan{
        background-color:rgba($color:$dark-cyan-1,$alpha:.6)
      }
      .icon.light-orange{
        background-color:rgba($color:$light-orange,$alpha:.6)
      }
    }
  }
  .card-title{
    margin-bottom:0!important
  }
  .companies,
  .suspended-entities{
    .table{
      td:nth-child(2),
      td:nth-child(3),
      td:nth-child(4){
        text-transform:capitalize;
        word-break:break-word
      }
    }
  }
  .new-entities{
    .table{
      td:nth-child(2){
        text-transform:capitalize;
        word-break:break-word
      }
    }
  }
  .table{
    thead{
      th{
        position:relative;
        .btn{
          height:24px;
          line-height:24px;
          font-size:12px;
          padding:0 10px;
          position:absolute;
          right:.5rem
        }
      }
    }
    th,
    td{
      .form-group{
        margin-bottom:0
      }
    }
    td:nth-child(2),
    td:nth-child(3),
    td:nth-child(4){
      text-transform:capitalize
    }
    td:nth-child(2){
      font-weight:500;
      a{
        color:$black;
        text-decoration:none
      }
    }
    tr:hover{
      td:nth-child(2),
      td:nth-child(6){
        a{
          color:$blue
        }
      }
    }
    .pretty{
      margin:0
    }
    .actions{
      a + a{
        margin-left:6px
      }
      a{
        display:inline-flex;
        font-size:16px;
        text-decoration:none;
        &.approve{
          color:$dark-cyan-1;
          &:hover,
          &:focus,
          &:active{
            color:$dark-cyan-2
          }
        }
        &.reject{
          color:$red-1;
          &:hover,
          &:focus,
          &:active{
            color:$red-2
          }
        }
      }
    }
  }
  @media(min-width:1200px){
    .small-data-card-info{
      margin-left:-8px;
      margin-right:-8px;
      [class*="col-"]{
        padding-left:8px;
        padding-right:8px;
        .icon{
          width:108px
        }
        h3{
          font-size:26px
        }
        h5{
          font-size:14px
        }
        .svg-icon{
          top:42.5px;
          left:32.5px;
          width:54px;
          height:54px
        }
      }
    }
    .companies,
    .suspended-entities{
      .table{
        td:nth-child(1){
          width:50px
        }
        td:nth-child(3){
          width:220px
        }
        td:nth-child(4){
          width:160px
        }
        td:nth-child(5),
        td:nth-child(6){
          width:120px
        }
        td:nth-child(7){
          width:60px
        }
        td:nth-child(8){
          width:110px
        }
      }
    }
    .companies{
      .table{
        thead{
          th{
            .btn{
              top:10.5px
            }
          }
        }
      }  
    }
  }
  @media(min-width:768px) and (max-width:1199.98px){
    .small-data-card-info{
      margin-left:-7.5px;
      margin-right:-7.5px;
      [class*="col-"]{
        padding-left:7.5px;
        padding-right:7.5px;
        h3{
          font-size:22px
        }
        h5{
          font-size:14px
        }
        .icon{
          width:100px
        }
        .svg-icon{
          top:37.5px;
          left:35px;
          width:44px;
          height:44px
        }
      }
    }
    .companies{
      .table{
        thead{
          th{
            height:79px;
            .btn{
              top:45px
            }
          }
        }
      }  
    }
    .companies,
    .suspended-entities{
      .table{
        th:nth-child(7),
        td:nth-child(7){
          text-align:center
        }
      }
    }
    .companies,
    .suspended-entities{
      .table-parent{
        overflow-x:auto;
        overflow-y:hidden
      }
      .table{
        width:840px;
        td:nth-child(1){
          width:50px
        }
        td:nth-child(3){
          width:160px
        }
        td:nth-child(4){
          width:125px
        }
        td:nth-child(5),
        td:nth-child(6){
          width:105px
        }
        td:nth-child(7){
          width:90px
        }
        td:nth-child(8){
          width:60px
        }
      }
    }
  }
  @media(min-width:768px){
    .small-data-card-info{
      [class*="col-"]{
        .card{
          min-height:108px
        }
        .icon{
          height:100%;
          border-radius:100% 0 0 8px
        }
      }
    }
    .card-title{
      display:flex;
      align-items:center;
      justify-content:space-between
    }
    .companies,
    .suspended-entities{
      .table{
        th:nth-child(7),
        td:nth-child(7){
          text-align:center
        }
      }
    }
    .new-entities{
      th:nth-child(3),
      td:nth-child(3){
        text-align:center
      }
      td:nth-child(1){
        width:70px
      }
      td:nth-child(3){
        width:150px
      }
    }
    .update-mobile{
      display:none
    }
  }
  @media(max-width:767.98px){
    .card-title{
      span{
        display:none
      }
    }
    .tab-content{
      margin-top:15px;
      .card{
        background-color:transparent;
        &:hover{
          box-shadow:none
        }
        .card-body{
          padding:0
        }
      }
    }
    .table{
      margin-top:20px;
      display:block;
      width:100%;
      thead{
        display:none
      }
      tbody{
        tr + tr{
          margin-top:15px
        }
        tr{
          padding:0 4px;
          display:inline-block;
          position:relative;
          width:100%;
          background:$white;
          border-radius:6px;
          @include table-row-animation;
          &:hover{
            @include table-row-shadow;
            background-color:$white
          }
          td{
            border:none;
            display:inline-block;
            position:relative
          }
          td:nth-child(1){
            display:none
          }
        }
      }
    }
    .companies,
    .suspended-entities{
      .table{
        td:nth-child(2){
          width:100%;
          padding-bottom:0;
          padding-right:45px;
          @include semibold-font
        }
        td:nth-child(3){
          width:100%;
          padding-top:.125rem;
          padding-bottom:0;
        }
        td:nth-child(4){
          padding-right:.5rem;
          &:before{
            content:'Funding Stage'
          }
        }
        td:nth-child(5){
          padding-right:0;
          &:before{
            content:'UEN'
          }
        }
        td:nth-child(6){
          &:before{
            content:'Updated On'
          }
        }
        td:nth-child(7){
          &:before{
            content:'View'
          }
        }
        td:nth-child(8){
          padding-top:0;
          position:absolute;
          top:.75rem;
          right:.25rem;
          padding-left:0;
          padding-right:0;
          width:45px;
          text-align:center
        }
        td:nth-child(4),
        td:nth-child(5),
        td:nth-child(6),
        td:nth-child(7){
          margin-top:12px;
          padding-top:1.25rem;
          &:before{
            position:absolute;
            top:0;
            font-size:12px;
            color:$dark-grey-2
          }
        }
      }
    }
    .new-entities{
      .table{
        td:nth-child(2){
          width:100%;
          padding-right:55px;
          @include semibold-font
        }
        td:nth-child(3){
          padding-top:0;
          padding-bottom:0;
          position:absolute;
          top:.8rem;
          right:.75rem;
          padding-left:0;
          padding-right:0;
          width:auto;
          text-align:center
        }
      }
    }
    .update-mobile{
      display:flex;
      justify-content:space-between;
      align-items:center;
      background-color:$white;
      position:fixed;
      bottom:0;
      left:0;
      width:100%;
      z-index:1050;
      box-shadow:0 1px 18px rgba($color:$black,$alpha:.053);
      -webkit-box-shadow:0 1px 18px rgba($color:$black,$alpha:.053);
      .form-group{
        margin:0
      }
    }
  }
  @media(min-width:576px) and (max-width:767.98px){
    .small-data-card-info{
      margin-left:-7.5px;
      margin-right:-7.5px;
      [class*="col-"]{
        padding-left:7.5px;
        padding-right:7.5px;
        .card{
          height:84px
        }
        h3{
          font-size:20px
        }
        h5{
          font-size:12px
        }
        .icon{
          width:80px;
          height:100%;
          border-radius:100% 0 0 8px
        }
        .svg-icon{
          bottom:15px;
          right:15px;
          width:38px;
          height:38px
        }
      }
    }
  }
  @media(max-width:575.98px){
    .small-data-card-info{
      [class*="col-"]{
        flex:0 0 100%;
        max-width:100%;
        .card{
          height:90px
        }
        h3{
          font-size:22px;
          padding-left:5px
        }
        h5{
          font-size:14px;
          padding-left:5px
        }
        .icon{
          height:100%;
          border-radius:45px 0 0 45px
        }
        .svg-icon{
          top:23px;
          width:44px;
          height:44px
        }
      }
    }
  }
  @media(min-width:300px) and (max-width:767.98px){
    .companies,
    .suspended-entities{
      .table{
        td:nth-child(4),
        td:nth-child(5){
          padding-bottom:0
        }
        td:nth-child(4),
        td:nth-child(5),
        td:nth-child(6),
        td:nth-child(7){
          width:50%
        }
      }
    }
    .update-mobile{
      padding:15px 20px;
      .btn{
        min-width:108px;
        height:34px
      }
    }
  }
  @media(min-width:300px) and (max-width:575.98px){
    .small-data-card-info{
      [class*="col-"]{
        .icon{
          width:108px
        }
        .svg-icon{
          left:35px
        }
      }
    }
  }
  @media(max-width:299.98px){
    .small-data-card-info{
      [class*="col-"]{
        .icon{
          width:90px
        }
        .svg-icon{
          left:28px
        }
      }
    }
    .companies,
    .suspended-entities{
      .table{
        td:nth-child(4),
        td:nth-child(5){
          width:100%;
          padding-bottom:0
        }
        td:nth-child(6){
          width:calc(100% - 50px);
          padding-right:0
        }
        td:nth-child(7){
          width:50px
        }
        td:nth-child(7){
          text-align:right
        }
      }
    }
    .update-mobile{
      padding:10px;
      .btn{
        font-size:12.5px;
        min-width:auto;
        height:30px
      }
    }
    .pretty.p-icon{
      .state{
        label{
          font-size:12.5px
        }
      }
    }
  }
}
