@import "./common/variables.scss";

.manage-users{
  .card-title{
    margin-bottom:0!important
  }
  .table{
    td:nth-child(2),
    td:nth-child(3),
    td:nth-child(4){
      word-break:break-word
    }
    td:nth-child(2),
    td:nth-child(3){
      text-transform:capitalize
    }
    tr:hover{
      td:nth-child(6){
        .action.edit{
          color:$blue
        }
      }
    }
  }
  @media(min-width:1200px){
    .table{
      th:nth-child(1){
        width:70px
      }
      th:nth-child(2),
      th:nth-child(3){
        width:220px
      }
      th:nth-child(4){
        width:330px
      }
      th:nth-child(5){
        width:100px
      }
      th:nth-child(6){
        width:100px
      }
    }
  }
  @media(min-width:992px) and (max-width:1199.98px){
    .table{
      th:nth-child(1){
        width:50px
      }
      th:nth-child(2),
      th:nth-child(3){
        width:160px
      }
      th:nth-child(4){
        width:240px
      }
      th:nth-child(5){
        width:85px
      }
      th:nth-child(6){
        width:60px
      }
    }
  }
  @media(min-width:768px) and (max-width:991.98px){
    .table{
      th:nth-child(1){
        width:50px
      }
      th:nth-child(2),
      th:nth-child(3){
        width:150px
      }
      th:nth-child(4){
        width:180px
      }
      th:nth-child(5){
        width:60px
      }
      th:nth-child(6){
        width:55px
      }
    }
  }
  @media(min-width:768px){
    .card-title{
      display:flex;
      align-items:center;
      justify-content:space-between
    }
    .table{
      .fas.fa-envelope,
      .fas.fa-user{
        display:none
      }
      th:nth-child(6),
      td:nth-child(6){
        text-align:center
      }
    }
  }
  @media(max-width:767.98px){
    .card{
      background-color:transparent;
      &:hover{
        box-shadow:none
      }
      .card-title{
        span{
          display:inline-block;
          margin-bottom:20px;
          max-width:100%;
          padding-right:125px
        }
      }
      .inline-heading-form{
        display:block;
        position:relative;
        .add-btn.left{
          position:absolute;
          margin-right:0;
          right:0;
          height:30px;
          top:-47.5px;
          font-size:12px;
        }
      }
      .card-body{
        padding:0
      }
    }
    .table{
      margin-top:20px;
      display:block;
      width:100%;
      thead{
        display:none
      }
      tbody{
        tr + tr{
          margin-top:15px
        }
        tr{
          padding:0 4px;
          display:inline-block;
          position:relative;
          width:100%;
          background:$white;
          border-radius:6px;
          @include table-row-animation;
          &:hover{
            @include table-row-shadow;
            background-color:$white
          }
          td{
            border:none;
            display:inline-block;
            position:relative;
          }
          td:nth-child(1){
            display:none
          }
          td:nth-child(2),
          td:nth-child(3){
            width:auto;
            padding-bottom:0;
            @include semibold-font
          }
          td:nth-child(2),
          td:nth-child(3){
            padding-right:0;
            max-width:calc(100% - 2.25rem)
          }
          td:nth-child(4){
            width:100%;
            padding-bottom:0;
            padding-left:35px
          }
          td:nth-child(4),
          td:nth-child(5){
            padding-left:35px;
            font-size:13px
          }
          td:nth-child(6){
            position:absolute;
            top:.75rem;
            right:.75rem;
            padding:0
          }
        }
        .fas.fa-envelope,
        .fas.fa-user{
          position:absolute;
          left:.75rem;
          color:$dark-grey-2;
        }
        .fas.fa-envelope{
          top:1rem;
        }
        .fas.fa-user{
          top:.875rem;
        }
      }
    }
  }
}