@import "./variables.scss";

html {
  position: relative;
  min-height: 100%;
}
html,
body {
  overflow-x: hidden;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  z-index: 1000;
  text-align: center;
  font-size: 13px;
  @include nav-animation;
}
@media (min-width: 992px) {
  .pro-sidebar ~ .footer {
    @include open-sidebar-pad;
  }
  .pro-sidebar.collapsed ~ .footer {
    @include collapsed-sidebar-pad;
  }
}
