@import "./variables.scss";
.pro-sidebar {
  color: $white;
  position: fixed;
  @include sidebar-width;
  .pro-sidebar-inner {
    background-color: $blue;
    .pro-sidebar-layout {
      .pro-sidebar-header {
        position: relative;
        min-height: 60px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        border-color: transparent;
        img {
          margin-left: 22px;
        }
        .small-logo {
          height: 34px;
          width: auto;
        }
        .brand-logo {
          height: 56px;
          width: auto;
        }
      }
    }
  }
  .pro-menu.shaped {
    .pro-menu-item {
      .pro-inner-item {
        padding: 5px 20px;
        margin-bottom: 4px;
        .pro-icon-wrapper {
          background-color: transparent;
        }
        a {
          font-size: 14px;
          color: $white;
        }
      }
      &.active {
        background-color: rgba($color: $white, $alpha: 0.07);
        .pro-inner-item {
          .pro-icon-wrapper {
            color: $white;
          }
        }
      }
      &:hover {
        background-color: rgba($color: $white, $alpha: 0.07);
      }
    }
  }
  .pro-menu {
    padding-top: 40px;
    padding-bottom: 15px;
    .pro-menu-item {
      .pro-inner-item {
        &:hover {
          color: $white;
        }
      }
    }
  }
}
@media (min-width: 992px) {
  .pro-sidebar.lg {
    left: 0;
  }
  .close-sidebar {
    display: none !important;
  }
}
@media (max-width: 991.98px) {
  .close-sidebar {
    width: 24px;
    height: 24px;
    line-height: 24px !important;
    text-align: center;
    font-size: 12px;
    color: $blue;
    background-color: $white;
    border-radius: 50%;
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }
}
@media (min-width: 300px) and (max-width: 991.98px) {
  .pro-sidebar.lg {
    left: -250px;
  }
}
@media (max-width: 299.98px) {
  .pro-sidebar.lg {
    width: 100%;
    min-width: 100%;
    left: -100%;
  }
}
